services:
  db:
    image: postgres:18
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pgpass
      POSTGRES_DB: pgdb
    volumes:
      - db_data:/var/lib/postgresql
  
  app:
    build:
      context: .
      args:
        - UID=1000
        - GID=1000
    volumes:
      - ./app:/home/appuser/app

volumes:
  db_data: